<main class="">
    <section class="experience-banner">
        <!-- Top Navigation -->
        <app-header></app-header>
        <!-- Ends Here -->
        <!-- Banner Content -->
        <div class="sub-banner-content-box">
            <ul class="activities-list">
                <li>Calm</li>
                <li><span><img src="assets/images/clock-icon.png" alt=""></span> 15:56</li>
                <li><span><img src="assets/images/lotus-icon.png" alt=""></span> Beginner</li>
                <li><span><img src="assets/images/man-icon.png" alt=""></span> Lisa Chou</li>
            </ul>
            <h1>Increase Generosity</h1>
            <p>When the element of Earth is congested, it leads to worry and lack of self worth. Clear the element of <br> earth within you through a meditative visualization, breath, toning, and breath retention experience.</p>
            <span class="video-btn"><a href="experience-detail.html"><img src="assets/images/video-btn.png" alt=""></a></span>
        </div>
    </section>
    <!-- Main Box Ends Here -->
    <div class="tutorial-videos">
        <div class="category-box">
            <div class="course-type">
                Calm
            </div>
            <div class="slider-row">
                <swiper
                    [slidesPerView]="3"
                    [spaceBetween]="50"
                    (swiper)="onSwiper($event)"
                    (slideChange)="onSlideChange()"
                    >
                        <ng-template swiperSlide>
                            <div class="mobile-full-width mmb-30">
                                <a href="#">
                                    <div class="course-box01">
                                        <div class="course-for"><span><img src="assets/images/lotus-icon.png" alt=""></span> Beginner</div>
                                        <div class="course-duration"><span><img src="assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Let Go</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width mmb-30">
                                <a href="#">
                                    <div class="course-box02">
                                        <div class="course-for"><span><img src="assets/images/lotus-icon.png" alt=""></span> Intermediate</div>
                                        <div class="course-duration"><span><img src="assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Increase <br> Generosity</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width">
                                <a href="#">
                                    <div class="course-box03">
                                        <div class="course-for"><span><img src="assets/images/lotus-icon.png" alt=""></span> Beginner</div>
                                        <div class="course-duration"><span><img src="assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Let Go</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width mmb-30">
                                <a href="#">
                                    <div class="course-box01">
                                        <div class="course-for"><span><img src="assets/images/lotus-icon.png" alt=""></span> Beginner</div>
                                        <div class="course-duration"><span><img src="assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Let Go</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width">
                                <a href="#">
                                    <div class="course-box03">
                                        <div class="course-for"><span><img src="assets/images/lotus-icon.png" alt=""></span> Beginner</div>
                                        <div class="course-duration"><span><img src="assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Let Go</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width mmb-30">
                                <a href="#">
                                    <div class="course-box02">
                                        <div class="course-for"><span><img src="assets/images/lotus-icon.png" alt=""></span> Intermediate</div>
                                        <div class="course-duration"><span><img src="assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Increase <br> Generosity</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width mmb-30">
                                <a href="#">
                                    <div class="course-box01">
                                        <div class="course-for"><span><img src="assets/images/lotus-icon.png" alt=""></span> Beginner</div>
                                        <div class="course-duration"><span><img src="assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Let Go</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width mmb-30">
                                <a href="#">
                                    <div class="course-box02">
                                        <div class="course-for"><span><img src="assets/images/lotus-icon.png" alt=""></span> Intermediate</div>
                                        <div class="course-duration"><span><img src="assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Increase <br> Generosity</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width">
                                <a href="#">
                                    <div class="course-box03">
                                        <div class="course-for"><span><img src="assets/images/lotus-icon.png" alt=""></span> Beginner</div>
                                        <div class="course-duration"><span><img src="assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Let Go</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                    </swiper>
            </div>

        </div>
        <div class="category-box">
            <div class="course-type black-text">
                Uplift
            </div>
            <div class="slider-row">
                <!-- Swiper -->
                <swiper
                    [slidesPerView]="3"
                    [spaceBetween]="50"
                    (swiper)="onSwiper($event)"
                    (slideChange)="onSlideChange()"
                    >
                        <ng-template swiperSlide>
                            <div class="mobile-full-width mmb-30">
                                <a href="#">
                                    <div class="course-box01 course-box04">
                                        <div class="course-for"><span><img src="assets/images/lotus-icon.png" alt=""></span> Beginner</div>
                                        <div class="course-duration"><span><img src="assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Let Go</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width mmb-30">
                                <a href="#">
                                    <div class="course-box02 course-box05">
                                        <div class="course-for"><span><img src="assets/images/lotus-icon.png" alt=""></span> Intermediate</div>
                                        <div class="course-duration"><span><img src="assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Increase <br> Generosity</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width">
                                <a href="#">
                                    <div class="course-box03 course-box06">
                                        <div class="course-for"><span><img src="assets/images/lotus-icon.png" alt=""></span> Beginner</div>
                                        <div class="course-duration"><span><img src="assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Let Go</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width mmb-30">
                                <a href="#">
                                    <div class="course-box01 course-box04">
                                        <div class="course-for"><span><img src="assets/images/lotus-icon.png" alt=""></span> Beginner</div>
                                        <div class="course-duration"><span><img src="assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Let Go</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width">
                                <a href="#">
                                    <div class="course-box03 course-box06">
                                        <div class="course-for"><span><img src="assets/images/lotus-icon.png" alt=""></span> Beginner</div>
                                        <div class="course-duration"><span><img src="assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Let Go</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width mmb-30">
                                <a href="#">
                                    <div class="course-box02 course-box05">
                                        <div class="course-for"><span><img src="assets/images/lotus-icon.png" alt=""></span> Intermediate</div>
                                        <div class="course-duration"><span><img src="assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Increase <br> Generosity</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width mmb-30">
                                <a href="#">
                                    <div class="course-box01 course-box04">
                                        <div class="course-for"><span><img src="assets/images/lotus-icon.png" alt=""></span> Beginner</div>
                                        <div class="course-duration"><span><img src="assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Let Go</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width mmb-30">
                                <a href="#">
                                    <div class="course-box02 course-box05">
                                        <div class="course-for"><span><img src="assets/images/lotus-icon.png" alt=""></span> Intermediate</div>
                                        <div class="course-duration"><span><img src="assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Increase <br> Generosity</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width">
                                <a href="#">
                                    <div class="course-box03 course-box06">
                                        <div class="course-for"><span><img src="assets/images/lotus-icon.png" alt=""></span> Beginner</div>
                                        <div class="course-duration"><span><img src="assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Let Go</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                </swiper>
            </div>
        </div>
        <div class="category-box">
            <div class="course-type black-text">
                Power
            </div>
            <div class="slider-row">
                <!-- Swiper -->
                <swiper
                    [slidesPerView]="3"
                    [spaceBetween]="50"
                    (swiper)="onSwiper($event)"
                    (slideChange)="onSlideChange()"
                    >
                        <ng-template swiperSlide>
                            <div class="mobile-full-width mmb-30">
                                <a href="#">
                                    <div class="course-box01">
                                        <div class="course-for"><span><img src="assets/images/lotus-icon.png" alt=""></span> Beginner</div>
                                        <div class="course-duration"><span><img src="assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Let Go</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width mmb-30">
                                <a href="#">
                                    <div class="course-box02">
                                        <div class="course-for"><span><img src="assets/images/lotus-icon.png" alt=""></span> Intermediate</div>
                                        <div class="course-duration"><span><img src="assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Increase <br> Generosity</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width">
                                <a href="#">
                                    <div class="course-box03">
                                        <div class="course-for"><span><img src="assets/images/lotus-icon.png" alt=""></span> Beginner</div>
                                        <div class="course-duration"><span><img src="assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Let Go</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width mmb-30">
                                <a href="#">
                                    <div class="course-box01">
                                        <div class="course-for"><span><img src="assets/images/lotus-icon.png" alt=""></span> Beginner</div>
                                        <div class="course-duration"><span><img src="assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Let Go</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width">
                                <a href="#">
                                    <div class="course-box03">
                                        <div class="course-for"><span><img src="assets/images/lotus-icon.png" alt=""></span> Beginner</div>
                                        <div class="course-duration"><span><img src="assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Let Go</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width mmb-30">
                                <a href="#">
                                    <div class="course-box02">
                                        <div class="course-for"><span><img src="assets/images/lotus-icon.png" alt=""></span> Intermediate</div>
                                        <div class="course-duration"><span><img src="assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Increase <br> Generosity</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width mmb-30">
                                <a href="#">
                                    <div class="course-box01">
                                        <div class="course-for"><span><img src="assets/images/lotus-icon.png" alt=""></span> Beginner</div>
                                        <div class="course-duration"><span><img src="assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Let Go</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width mmb-30">
                                <a href="#">
                                    <div class="course-box02">
                                        <div class="course-for"><span><img src="assets/images/lotus-icon.png" alt=""></span> Intermediate</div>
                                        <div class="course-duration"><span><img src="assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Increase <br> Generosity</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width">
                                <a href="#">
                                    <div class="course-box03">
                                        <div class="course-for"><span><img src="assets/images/lotus-icon.png" alt=""></span> Beginner</div>
                                        <div class="course-duration"><span><img src="assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Let Go</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                    </swiper>
            </div>
        </div>

        <!-- Footer -->
        <app-footer></app-footer>
    </div>


</main>