<main class="">
    <section class="experience-banner">
        <!-- Top Navigation -->
        <nav class="navbar navbar-expand top-navigation navbar-light navbar-bg">
            <a class="sidebar-toggle js-sidebar-toggle">
                <i class="hamburger align-self-center"></i>
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav center-navigation">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Experiences<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link modal-toggle" href="#"><span><img src="../../assets/images/filter-icon.png" alt=""></span> Filter</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav navbar-align right-side-top-navigation">
                    <li class="nav-item dropdown">
                        <a class="nav-icon dropdown-toggle" href="#" id="messagesDropdown" data-bs-toggle="dropdown">
                            <div class="position-relative notification-icon-box01">
                                <figure><img src="../../assets/images/chat-icon-white.svg" alt=""></figure>
                            </div>
                        </a>
                        <div class="dropdown-menu notfication-dd dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="messagesDropdown">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <div class="row g-0 align-items-center">
                                        <div class="col-2">
                                            <img src="../../assets/images/avatar.jpg" class="avatar img-fluid rounded-circle" alt="Vanessa Tucker">
                                        </div>
                                        <div class="col-8">
                                            <div class="notification-heading secondary-font">Wake Well</div>
                                            <div class="notification-detail secondary-font">We have updated ordering system...</div>

                                        </div>
                                        <div class="col-2">
                                            <div class="notification-time secondary-font">30m ago</div>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item">
                                    <div class="row g-0 align-items-center">
                                        <div class="col-2">
                                            <img src="../../assets/images/avatar.jpg" class="avatar img-fluid rounded-circle" alt="Vanessa Tucker">
                                        </div>
                                        <div class="col-8">
                                            <div class="notification-heading secondary-font">Wake Well</div>
                                            <div class="notification-detail secondary-font">We have updated ordering system...</div>

                                        </div>
                                        <div class="col-2">
                                            <div class="notification-time secondary-font">30m ago</div>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item">
                                    <div class="row g-0 align-items-center">
                                        <div class="col-2">
                                            <img src="../../assets/images/avatar.jpg" class="avatar img-fluid rounded-circle" alt="Vanessa Tucker">
                                        </div>
                                        <div class="col-8">
                                            <div class="notification-heading secondary-font">Wake Well</div>
                                            <div class="notification-detail secondary-font">We have updated ordering system...</div>

                                        </div>
                                        <div class="col-2">
                                            <div class="notification-time secondary-font">30m ago</div>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item">
                                    <div class="row g-0 align-items-center">
                                        <div class="col-2">
                                            <img src="../../assets/images/avatar.jpg" class="avatar img-fluid rounded-circle" alt="Vanessa Tucker">
                                        </div>
                                        <div class="col-8">
                                            <div class="notification-heading secondary-font">Wake Well</div>
                                            <div class="notification-detail secondary-font">We have updated ordering system...</div>

                                        </div>
                                        <div class="col-2">
                                            <div class="notification-time secondary-font">30m ago</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-icon dropdown-toggle" href="#" id="messagesDropdown" data-bs-toggle="dropdown">
                            <div class="position-relative notification-icon-box01">
                                <figure><img src="../../assets/images/heart-icon-white.svg" alt=""></figure>
                            </div>
                        </a>
                        <div class="dropdown-menu notfication-dd dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="messagesDropdown">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <div class="row g-0 align-items-center">
                                        <div class="col-2">
                                            <img src="../../assets/images/avatar.jpg" class="avatar img-fluid rounded-circle" alt="Vanessa Tucker">
                                        </div>
                                        <div class="col-8">
                                            <div class="notification-heading secondary-font">Wake Well</div>
                                            <div class="notification-detail secondary-font">We have updated ordering system...</div>

                                        </div>
                                        <div class="col-2">
                                            <div class="notification-time secondary-font">30m ago</div>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item">
                                    <div class="row g-0 align-items-center">
                                        <div class="col-2">
                                            <img src="../../assets/images/avatar.jpg" class="avatar img-fluid rounded-circle" alt="Vanessa Tucker">
                                        </div>
                                        <div class="col-8">
                                            <div class="notification-heading secondary-font">Wake Well</div>
                                            <div class="notification-detail secondary-font">We have updated ordering system...</div>

                                        </div>
                                        <div class="col-2">
                                            <div class="notification-time secondary-font">30m ago</div>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item">
                                    <div class="row g-0 align-items-center">
                                        <div class="col-2">
                                            <img src="../../assets/images/avatar.jpg" class="avatar img-fluid rounded-circle" alt="Vanessa Tucker">
                                        </div>
                                        <div class="col-8">
                                            <div class="notification-heading secondary-font">Wake Well</div>
                                            <div class="notification-detail secondary-font">We have updated ordering system...</div>

                                        </div>
                                        <div class="col-2">
                                            <div class="notification-time secondary-font">30m ago</div>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item">
                                    <div class="row g-0 align-items-center">
                                        <div class="col-2">
                                            <img src="../../assets/images/avatar.jpg" class="avatar img-fluid rounded-circle" alt="Vanessa Tucker">
                                        </div>
                                        <div class="col-8">
                                            <div class="notification-heading secondary-font">Wake Well</div>
                                            <div class="notification-detail secondary-font">We have updated ordering system...</div>

                                        </div>
                                        <div class="col-2">
                                            <div class="notification-time secondary-font">30m ago</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-bs-toggle="dropdown">
                            <div class="position-relative notification-icon-box">
                                <figure><img src="../../assets/images/bell-icon-white.svg" alt=""></figure>
                                <span class="indicator"></span>
                            </div>
                        </a>
                        <div class="dropdown-menu notfication-dd dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <div class="row g-0 align-items-center">
                                        <div class="col-2">
                                            <figure><img src="../../assets/images/dd-nofification-img.png" alt=""></figure>
                                        </div>
                                        <div class="col-8">
                                            <div class="notification-heading secondary-font">Wake Well</div>
                                            <div class="notification-detail secondary-font">We have updated ordering system...</div>

                                        </div>
                                        <div class="col-2">
                                            <div class="notification-time secondary-font">30m ago</div>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item">
                                    <div class="row g-0 align-items-center">
                                        <div class="col-2">
                                            <div class="client-int">
                                                <div class="inner-client-int">
                                                    <div class="client-name secondary-font">LCh.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class="notification-heading secondary-font">Wake Well</div>
                                            <div class="notification-detail secondary-font">We have updated ordering system...</div>

                                        </div>
                                        <div class="col-2">
                                            <div class="notification-time secondary-font">30m ago</div>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item">
                                    <div class="row g-0 align-items-center">
                                        <div class="col-2">
                                            <div class="client-int">
                                                <div class="inner-client-int">
                                                    <div class="client-name secondary-font">Ww.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class="notification-heading secondary-font">Wake Well</div>
                                            <div class="notification-detail secondary-font">We have updated ordering system...</div>

                                        </div>
                                        <div class="col-2">
                                            <div class="notification-time secondary-font">30m ago</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
                            <i class="align-middle" data-feather="settings"></i>
                        </a>

                        <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                            <img src="../../assets/images/avatar.jpg" class="avatar img-fluid rounded me-1" alt="Charles Hall" /> <span class="notification-heading">Pandora Skyes</span>
                        </a>
                        <div class="dropdown-menu login-dd dropdown-menu-end">
                            <a class="dropdown-item" href="pages-profile.html"><i class="align-middle me-1" data-feather="user"></i> Profile</a>
                            <a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="pie-chart"></i> Analytics</a>

                            <a class="dropdown-item" href="index.html"><i class="align-middle me-1" data-feather="settings"></i> Settings & Privacy</a>
                            <a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="help-circle"></i> Help Center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Log out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Ends Here -->
        <!-- Banner Content -->
        <div class="sub-banner-content-box">
            <ul class="activities-list">
                <li>Calm</li>
                <li><span><img src="../../assets/images/clock-icon.png" alt=""></span> 15:56</li>
                <li><span><img src="../../assets/images/lotus-icon.png" alt=""></span> Beginner</li>
                <li><span><img src="../../assets/images/man-icon.png" alt=""></span> Lisa Chou</li>
            </ul>
            <h1>Increase Generosity</h1>
            <p>When the element of Earth is congested, it leads to worry and lack of self worth. Clear the element of <br> earth within you through a meditative visualization, breath, toning, and breath retention experience.</p>
            <span class="video-btn"><a href="experience-detail.html"><img src="../../assets/images/video-btn.png" alt=""></a></span>
        </div>
    </section>
    <!-- Main Box Ends Here -->
    <div class="tutorial-videos">
        <div class="category-box">
            <div class="course-type">
                Calm
            </div>
            <div class="slider-row">
                <swiper
                    [slidesPerView]="3"
                    [spaceBetween]="50"
                    (swiper)="onSwiper($event)"
                    (slideChange)="onSlideChange()"
                    >
                        <ng-template swiperSlide>
                            <div class="mobile-full-width mmb-30">
                                <a href="#">
                                    <div class="course-box01">
                                        <div class="course-for"><span><img src="../../assets/images/lotus-icon.png" alt=""></span> Beginner</div>
                                        <div class="course-duration"><span><img src="../../assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Let Go</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width mmb-30">
                                <a href="#">
                                    <div class="course-box02">
                                        <div class="course-for"><span><img src="../../assets/images/lotus-icon.png" alt=""></span> Intermediate</div>
                                        <div class="course-duration"><span><img src="../../assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Increase <br> Generosity</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width">
                                <a href="#">
                                    <div class="course-box03">
                                        <div class="course-for"><span><img src="../../assets/images/lotus-icon.png" alt=""></span> Beginner</div>
                                        <div class="course-duration"><span><img src="../../assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Let Go</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width mmb-30">
                                <a href="#">
                                    <div class="course-box01">
                                        <div class="course-for"><span><img src="../../assets/images/lotus-icon.png" alt=""></span> Beginner</div>
                                        <div class="course-duration"><span><img src="../../assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Let Go</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width">
                                <a href="#">
                                    <div class="course-box03">
                                        <div class="course-for"><span><img src="../../assets/images/lotus-icon.png" alt=""></span> Beginner</div>
                                        <div class="course-duration"><span><img src="../../assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Let Go</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width mmb-30">
                                <a href="#">
                                    <div class="course-box02">
                                        <div class="course-for"><span><img src="../../assets/images/lotus-icon.png" alt=""></span> Intermediate</div>
                                        <div class="course-duration"><span><img src="../../assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Increase <br> Generosity</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width mmb-30">
                                <a href="#">
                                    <div class="course-box01">
                                        <div class="course-for"><span><img src="../../assets/images/lotus-icon.png" alt=""></span> Beginner</div>
                                        <div class="course-duration"><span><img src="../../assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Let Go</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width mmb-30">
                                <a href="#">
                                    <div class="course-box02">
                                        <div class="course-for"><span><img src="../../assets/images/lotus-icon.png" alt=""></span> Intermediate</div>
                                        <div class="course-duration"><span><img src="../../assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Increase <br> Generosity</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width">
                                <a href="#">
                                    <div class="course-box03">
                                        <div class="course-for"><span><img src="../../assets/images/lotus-icon.png" alt=""></span> Beginner</div>
                                        <div class="course-duration"><span><img src="../../assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Let Go</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                    </swiper>
            </div>

        </div>
        <div class="category-box">
            <div class="course-type black-text">
                Uplift
            </div>
            <div class="slider-row">
                <!-- Swiper -->
                <swiper
                    [slidesPerView]="3"
                    [spaceBetween]="50"
                    (swiper)="onSwiper($event)"
                    (slideChange)="onSlideChange()"
                    >
                        <ng-template swiperSlide>
                            <div class="mobile-full-width mmb-30">
                                <a href="#">
                                    <div class="course-box01 course-box04">
                                        <div class="course-for"><span><img src="../../assets/images/lotus-icon.png" alt=""></span> Beginner</div>
                                        <div class="course-duration"><span><img src="../../assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Let Go</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width mmb-30">
                                <a href="#">
                                    <div class="course-box02 course-box05">
                                        <div class="course-for"><span><img src="../../assets/images/lotus-icon.png" alt=""></span> Intermediate</div>
                                        <div class="course-duration"><span><img src="../../assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Increase <br> Generosity</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width">
                                <a href="#">
                                    <div class="course-box03 course-box06">
                                        <div class="course-for"><span><img src="../../assets/images/lotus-icon.png" alt=""></span> Beginner</div>
                                        <div class="course-duration"><span><img src="../../assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Let Go</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width mmb-30">
                                <a href="#">
                                    <div class="course-box01 course-box04">
                                        <div class="course-for"><span><img src="../../assets/images/lotus-icon.png" alt=""></span> Beginner</div>
                                        <div class="course-duration"><span><img src="../../assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Let Go</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width">
                                <a href="#">
                                    <div class="course-box03 course-box06">
                                        <div class="course-for"><span><img src="../../assets/images/lotus-icon.png" alt=""></span> Beginner</div>
                                        <div class="course-duration"><span><img src="../../assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Let Go</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width mmb-30">
                                <a href="#">
                                    <div class="course-box02 course-box05">
                                        <div class="course-for"><span><img src="../../assets/images/lotus-icon.png" alt=""></span> Intermediate</div>
                                        <div class="course-duration"><span><img src="../../assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Increase <br> Generosity</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width mmb-30">
                                <a href="#">
                                    <div class="course-box01 course-box04">
                                        <div class="course-for"><span><img src="../../assets/images/lotus-icon.png" alt=""></span> Beginner</div>
                                        <div class="course-duration"><span><img src="../../assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Let Go</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width mmb-30">
                                <a href="#">
                                    <div class="course-box02 course-box05">
                                        <div class="course-for"><span><img src="../../assets/images/lotus-icon.png" alt=""></span> Intermediate</div>
                                        <div class="course-duration"><span><img src="../../assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Increase <br> Generosity</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width">
                                <a href="#">
                                    <div class="course-box03 course-box06">
                                        <div class="course-for"><span><img src="../../assets/images/lotus-icon.png" alt=""></span> Beginner</div>
                                        <div class="course-duration"><span><img src="../../assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Let Go</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                </swiper>
            </div>
        </div>
        <div class="category-box">
            <div class="course-type black-text">
                Power
            </div>
            <div class="slider-row">
                <!-- Swiper -->
                <swiper
                    [slidesPerView]="3"
                    [spaceBetween]="50"
                    (swiper)="onSwiper($event)"
                    (slideChange)="onSlideChange()"
                    >
                        <ng-template swiperSlide>
                            <div class="mobile-full-width mmb-30">
                                <a href="#">
                                    <div class="course-box01">
                                        <div class="course-for"><span><img src="../../assets/images/lotus-icon.png" alt=""></span> Beginner</div>
                                        <div class="course-duration"><span><img src="../../assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Let Go</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width mmb-30">
                                <a href="#">
                                    <div class="course-box02">
                                        <div class="course-for"><span><img src="../../assets/images/lotus-icon.png" alt=""></span> Intermediate</div>
                                        <div class="course-duration"><span><img src="../../assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Increase <br> Generosity</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width">
                                <a href="#">
                                    <div class="course-box03">
                                        <div class="course-for"><span><img src="../../assets/images/lotus-icon.png" alt=""></span> Beginner</div>
                                        <div class="course-duration"><span><img src="../../assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Let Go</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width mmb-30">
                                <a href="#">
                                    <div class="course-box01">
                                        <div class="course-for"><span><img src="../../assets/images/lotus-icon.png" alt=""></span> Beginner</div>
                                        <div class="course-duration"><span><img src="../../assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Let Go</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width">
                                <a href="#">
                                    <div class="course-box03">
                                        <div class="course-for"><span><img src="../../assets/images/lotus-icon.png" alt=""></span> Beginner</div>
                                        <div class="course-duration"><span><img src="../../assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Let Go</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width mmb-30">
                                <a href="#">
                                    <div class="course-box02">
                                        <div class="course-for"><span><img src="../../assets/images/lotus-icon.png" alt=""></span> Intermediate</div>
                                        <div class="course-duration"><span><img src="../../assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Increase <br> Generosity</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width mmb-30">
                                <a href="#">
                                    <div class="course-box01">
                                        <div class="course-for"><span><img src="../../assets/images/lotus-icon.png" alt=""></span> Beginner</div>
                                        <div class="course-duration"><span><img src="../../assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Let Go</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width mmb-30">
                                <a href="#">
                                    <div class="course-box02">
                                        <div class="course-for"><span><img src="../../assets/images/lotus-icon.png" alt=""></span> Intermediate</div>
                                        <div class="course-duration"><span><img src="../../assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Increase <br> Generosity</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="mobile-full-width">
                                <a href="#">
                                    <div class="course-box03">
                                        <div class="course-for"><span><img src="../../assets/images/lotus-icon.png" alt=""></span> Beginner</div>
                                        <div class="course-duration"><span><img src="../../assets/images/clock-icon.png" alt=""></span> 15:56</div>
                                        <div class="course-heading">Let Go</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                    </swiper>
            </div>
        </div>

        <!-- Footer -->
        <footer class="footer-box">
            <div class="row">
                <div class="col-8 mobile-full-width mmb-30">
                    <ul class="copy-rights-list">
                        <li>
                            <a href="#">
                                <figure><img src="../../assets/images/footer-logo.svg" alt=""></figure>
                            </a>
                        </li>
                        <li>© 2021 Wake, All rights reserved</li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-4 footer-right-side mobile-full-width">
                    <ul class="footer-social-links">
                        <li>Follow Us On</li>
                        <li><a href="#"><fa-icon [icon]="faFacebookF"></fa-icon></a></li>
                        <li><a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a></li>
                        <li><a href="#"><fa-icon [icon]="faLinkedinIn"></fa-icon></a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>


</main>