<div class="outer-wrapper">
  <!-- Side Bar -->
  <nav id="sidebar" class="sidebar js-sidebar">
      <div class="sidebar-content js-simplebar">
          <a class="sidebar-brand" href="index.html">
              <span class="align-middle"><img src="../../assets/images/site-logo.png" alt=""></span>
          </a>

          <ul class="sidebar-nav">

              <li class="sidebar-item">
                  <a class="sidebar-link" href="index.html">
                      <div class="side-nav-icon01"></div>
                      <span class="align-middle">My Journey</span>
                  </a>
              </li>

              <li class="sidebar-item active">
                  <a class="sidebar-link" (click)="setTitle('Experience')" routerLink="/experience" routerLinkActive="active">
                    <div class="side-nav-icon02"></div> <span class="align-middle">Experience</span>
                  </a>
              </li>

              <li class="sidebar-item">
                <a class="sidebar-link" (click)="setTitle('Series')" routerLink="/series" routerLinkActive="active">
                  <div class="side-nav-icon03"></div> <span class="align-middle">Series</span>
                </a>
              </li>

              <li class="sidebar-item">
                  <a class="sidebar-link" href="Schedule.html">
                      <div class="side-nav-icon04"></div> <span class="align-middle">Schedule</span>
                  </a>
              </li>

              <li class="sidebar-item">
                  <a class="sidebar-link" href="#">
                      <div class="side-nav-icon05"></div> <span class="align-middle">Private Session</span>
                  </a>
              </li>
          </ul>
      </div>
  </nav>
  <!-- Mian Body Section -->
  <div class="main-wrapper">
      <!-- Main Content Body -->
      <!-- The routed views render in the <router-outlet>-->
      <router-outlet></router-outlet>
      <div class="bottom-icon">
          <a href="#"><img src="../../assets/images/face-icon.png" alt=""></a>
      </div>
  </div>

  <div class="modal">
      <div class="modal-overlay modal-toggle"></div>
      <div class="modal-wrapper modal-transition">
          <div class="modal-header">
              <div class="modal-close modal-toggle cross-icon"></div>
              <h2 class="modal-heading">Filter</h2>
          </div>

          <div class="modal-body">
              <div class="modal-content">
                  <div class="filter-box range-slider-box-outer">
                      <div class="d-flex">
                          <div class="filter-type flex-auto">Duration</div>
                      </div>
                      <div class="range-slider-box">
                          <input type="text" id="radiusAmount">
                          <div class="wrap">
                              <div id="slider"></div>
                          </div>
                      </div>
                  </div>
                  <div class="filter-box">
                      <div class="d-flex">
                          <div class="filter-type flex-auto">Intention</div>
                          <div class="filter-duration flex-auto">Power</div>
                      </div>
                      <div class="radio-btn-box">
                          <ul class="workout-level-list">
                              <li>
                                  <div class="form__group mpb-30">
                                      <div class="form__radio-group">
                                          <input type="radio" name="size" id="first-btn" class="form__radio-input">
                                          <label class="form__label-radio" for="first-btn" class="form__radio-label">
                                        <span class="form__radio-button"></span> Calm
                                      </label>
                                      </div>
                                  </div>
                              </li>
                              <li>
                                  <div class="form__group mpb-30">
                                      <div class="form__radio-group">
                                          <input type="radio" name="size" id="second-btn" class="form__radio-input">
                                          <label class="form__label-radio" for="second-btn" class="form__radio-label">
                                        <span class="form__radio-button"></span> Energy
                                      </label>
                                      </div>
                                  </div>
                              </li>
                              <li>
                                  <div class="form__group mpb-30">
                                      <div class="form__radio-group">
                                          <input type="radio" name="size" id="third-btn" class="form__radio-input">
                                          <label class="form__label-radio" for="third-btn" class="form__radio-label">
                                        <span class="form__radio-button"></span> Power
                                      </label>
                                      </div>
                                  </div>
                              </li>
                              <li>
                                  <div class="form__group ">
                                      <div class="form__radio-group">
                                          <input type="radio" name="size" id="fourth-btn" class="form__radio-input">
                                          <label class="form__label-radio" for="fourth-btn" class="form__radio-label">
                                        <span class="form__radio-button"></span> Vitality
                                      </label>
                                      </div>
                                  </div>
                              </li>
                              <li>
                                  <div class="form__group ">
                                      <div class="form__radio-group">
                                          <input type="radio" name="size" id="fifth-btn" class="form__radio-input">
                                          <label class="form__label-radio" for="fifth-btn" class="form__radio-label">
                                        <span class="form__radio-button"></span> Rejuvenation
                                      </label>
                                      </div>
                                  </div>
                              </li>
                              <li>
                                  <div class="form__group ">
                                      <div class="form__radio-group">
                                          <input type="radio" name="size" id="six-btn" class="form__radio-input">
                                          <label class="form__label-radio" for="six-btn" class="form__radio-label">
                                        <span class="form__radio-button"></span> Uplift
                                      </label>
                                      </div>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="filter-box">
                      <div class="d-flex">
                          <div class="filter-type flex-auto">Difficulty</div>
                          <div class="filter-duration flex-auto">Intermediate</div>
                      </div>
                      <div class="radio-btn-box">
                          <form action="#">
                              <div class="d-flex difficulty-box">
                                  <div class="form__group">
                                      <div class="form__radio-group">
                                          <input type="radio" name="size" id="ten-btn" class="form__radio-input">
                                          <label class="form__label-radio" for="ten-btn" class="form__radio-label">
                                        <span class="form__radio-button"></span> Beginner
                                      </label>
                                      </div>
                                  </div>
                                  <div class="form__group ">
                                      <div class="form__radio-group">
                                          <input type="radio" name="size" id="eleven-btn" class="form__radio-input">
                                          <label class="form__label-radio" for="eleven-btn" class="form__radio-label">
                                        <span class="form__radio-button"></span> Intermediate
                                      </label>
                                      </div>
                                  </div>
                                  <div class="form__group ">
                                      <div class="form__radio-group">
                                          <input type="radio" name="size" id="twelve-btn" class="form__radio-input">
                                          <label class="form__label-radio" for="twelve-btn" class="form__radio-label">
                                        <span class="form__radio-button"></span> Advanced
                                      </label>
                                      </div>
                                  </div>

                              </div>
                          </form>
                      </div>
                  </div>
                  <div class="filter-box">
                      <div class="d-flex mobile-block">
                          <div class="filter-type cancel-btn flex-auto pt-10"> <a href="#" class="">Cancel</a></div>
                          <div class="filter-duration flex-auto">
                              <div class="cancel-filters d-inline-block">
                                  <a href="#"><img src="../../assets/images/cancel-filter-icon.svg" alt=""> Clear Filter </a>
                              </div>
                              <div class="Show-results d-inline-block">
                                  <div class="btn-connect-watches">
                                      <a href="#"> <img src="../../assets/images/btn-arrow.png" alt=""> Show Results</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>