<div class="outer-wrapper">
  <!-- Side Bar -->
  <nav id="sidebar" class="sidebar js-sidebar">
      <div class="sidebar-content js-simplebar">
          <a class="sidebar-brand" href="index.html">
              <span class="align-middle"><img src="assets/images/site-logo.png" alt=""></span>
          </a>

          <ul class="sidebar-nav">

              <li class="sidebar-item">
                  <a class="sidebar-link" href="index.html">
                      <div class="side-nav-icon01"></div>
                      <span class="align-middle">My Journey</span>
                  </a>
              </li>

              <li class="sidebar-item active">
                  <a class="sidebar-link" (click)="setTitle('Experience')" routerLink="/experience" routerLinkActive="active">
                    <div class="side-nav-icon02"></div> <span class="align-middle">Experience</span>
                  </a>
              </li>

              <li class="sidebar-item">
                <a class="sidebar-link" (click)="setTitle('Series')" routerLink="/series" routerLinkActive="active">
                  <div class="side-nav-icon03"></div> <span class="align-middle">Series</span>
                </a>
              </li>

              <li class="sidebar-item">
                  <a class="sidebar-link" href="Schedule.html">
                      <div class="side-nav-icon04"></div> <span class="align-middle">Schedule</span>
                  </a>
              </li>

              <li class="sidebar-item">
                  <a class="sidebar-link" href="#">
                      <div class="side-nav-icon05"></div> <span class="align-middle">Private Session</span>
                  </a>
              </li>
          </ul>
      </div>
  </nav>
  <!-- Mian Body Section -->
  <div class="main-wrapper">
      <!-- Main Content Body -->
      <!-- The routed views render in the <router-outlet>-->
      <router-outlet></router-outlet>
      <div class="bottom-icon">
          <a href="#"><img src="assets/images/face-icon.png" alt=""></a>
      </div>
  </div>
</div>