<footer class="footer-box">
    <div class="row">
        <div class="col-8 mobile-full-width mmb-30">
            <ul class="copy-rights-list">
                <li>
                    <a href="#">
                        <figure><img src="assets/images/footer-logo.svg" alt=""></figure>
                    </a>
                </li>
                <li>© 2021 Wake, All rights reserved</li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="col-4 footer-right-side mobile-full-width">
            <ul class="footer-social-links">
                <li>Follow Us On</li>
                <li><a href="#"><fa-icon [icon]="faFacebookF"></fa-icon></a></li>
                <li><a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a></li>
                <li><a href="#"><fa-icon [icon]="faLinkedinIn"></fa-icon></a></li>
            </ul>
        </div>
    </div>
</footer>